body {
  background-color: #1a0033;
}

header {
  flex-shrink: 0;
}

main {
  flex: 1;
  overflow: hidden;
}

.jogo-iframe {
  width: 100% !important;
  height: 800px !important;
  border: none;
}

.controles {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size: 25px;
  color: #000000;
}

.dark-mode .controles {
  color: #ffffff;
}